<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/script.css">
    <title>Landing</title>
</head>
<body>
    <header>
        <div id="logo">
            <img src="../static/images/logo.jpg.avif" alt="Logo Be velo">
        </div>
        <nav class="nav">
            <ul class="menu">
              <li><a href="#accueil">Accueil</a></li>
              <li><a href="#">Presentation</a></li>
              <li><a href="#news">Newsletter</a></li>
              <li><a href="#footer">En savoir plus</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="hero-image">
            <div class="hero-text" id="accueil">
              <h1>COOKIE</h1>
              <p>The best Cookies you've ever eaten !</p>
              <button>COOKIE !</button>
            </div>
        </div> 

        <div class="text-image">
            <div class="left-container">
            <div class="left-content">
              <img src="../static/images/cookies_1.png">
            </div>
          </div>
          <div class="right-container">
              <div class="right-content">
                <h4>Blablou</h4>
                <p>Bmabmzpfeapjff</p>
              </div>
          </div>
        </div>

        <div class="text-image-2">
            <div class="left-container">
            <div class="left-content">
                <h4>Blablou</h4>
                <p>Bmabmzpfeapjff</p>
            </div>
          </div>
          <div class="right-container-2">
              <div class="right-content">
                <img src="../static/images/cookies_1.png">
              </div>
          </div>
        </div>

        <div class="text-image">
            <div class="left-container">
            <div class="left-content">
              <img src="../static/images/cookies_1.png">
            </div>
          </div>
          <div class="right-container">
              <div class="right-content">
                <h4>Blablou</h4>
                <p>Bmabmzpfeapjff</p>
              </div>
          </div>
        </div>

        <div class="text-image-2">
            <div class="left-container">
            <div class="left-content">
                <h4>Blablou</h4>
                <p>Bmabmzpfeapjff</p>
            </div>
          </div>
          <div class="right-container-2">
              <div class="right-content">
                <img src="../static/images/cookies_1.png">
              </div>
          </div>
        </div>

        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <form class="newsletter" action="" method="">
            <h2>Newsletter</h2>
            <div class="form-content" id="news">
                <input placeholder="Name" type="text" id="name" name="user_name">
            </div>
            <div class="form-content">
                <input placeholder="Mail" type="email" id="mail" name="user_mail">
            </div>
        </form>
    </main>
    <footer>
        <div id="footer">
            <h2>En savoir plus!</h2>
            <p>Nos délicieux cookies sont fabriqués à la main par nos artisans boulangers locaux</p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22262.066892161783!2d3.0512517791015745!3d45.7760327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f71b9ff24b1d29%3A0xc15707340d9eacf5!2sKOOKIES%20CLFD!5e0!3m2!1sfr!2sfr!4v1680620038266!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
</body>
</html>
