<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/script.css">
    <title>Landing</title>
</head>
<body>
    <header>
        <div id="logo">
            <img src="../static/images/logo.jpg.avif" alt="Logo Be velo">
        </div>
        <nav class="nav">
            <ul class="menu">
              <li><a href="#accueil">Accueil</a></li>
              <li><a href="#">Presentation</a></li>
              <li><a href="#news">Newsletter</a></li>
              <li><a href="#footer">En savoir plus</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero-image">
            <div class="hero-text" id="accueil">
              <h1>COOKIE</h1>
              <p>The best Cookies you've ever eaten !</p>
              <button>COOKIE !</button>
            </div>
        </div> 
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <figure>
            <img class="hero" src="" alt="">
        </figure>
        <form class="newsletter" action="" method="">
            <h2>Newsletter</h2>
            <div class="form-content" id="news">
                <input placeholder="Name" type="text" id="name" name="user_name">
            </div>
            <div class="form-content">
                <input placeholder="Mail" type="email" id="mail" name="user_mail">
            </div>
        </form>
    </main>
    <footer>
        <div id="footer">
            <h2>En savoir plus!</h2>
            <p>Nos délicieux cookies sont fabriqués à la main par nos artisans boulangers locaux</p>
        </div>
    </footer>
</body>
</html>
